{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet"
      href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
   
    {% block head_list %}

    {% endblock %}

{% endblock %}

{% block content %}
<div class="col-md-8 ">
    <div class="card card-default ">
      <div class="card-header ">
        <h3 class="card-title">
          
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columnas %}

                {% endblock %}
                </thead>
                <tbody>
                {% block filas %}

                {% endblock %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% block buttons_list %}
                <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                   Nuevo registro
                </a>
                <a href="{{ list_url }}" class="btn btn-success btn-flat">
                     Actualizar
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block java %}
  
{% endblock %}