{% extends 'baselista.html' %}

{% block columnas %}
<tr>
  <th scope="col">Numero</th>
  <th scope="col">Nombre</th>
  <th scope="col">Descripion</th>
  <th scope="col">Precio</th>

</tr>
{% endblock %}

{% block filas %}
{% for p in object_list %}
<tr>
  <td>{{ p.id }} </td>
  <td> {{ p.nombre }}</td>
  <td> {{ p.descripcion }}</td>
  <td>Q {{ p.precio_unidad }}</td>

  <td><a href="{% url 'materialeditarregistro' p.id %}" class="btn btn-primary btn-sm">Editar</a>
    <a href="{% url 'materialeliminaregistro' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
  </td>
</tr> 
{% endfor %}

{% endblock %}
