{% extends 'baselista.html' %}


{% block columnas %}
<tr>
  <th scope="col">Numero</th>
  <th scope="col">Proveedor</th>
  <th scope="col">Descripcion</th>
  <th scope="col">Total</th>
  <th scope="col">Fecha</th>

</tr>
{% endblock %}

{% block filas %}
{% for p in object_list %}
<tr>

  <td> {{ p.nombre }}</td>
  <td> {{ p.NIT }}</td>
  <td> {{ p.Direccion }}</td>


  <td><a href="{% url 'cotizacioneliminar' p.id %}" class="btn btn-primary btn-sm">Editar</a>
    <a href="{% url 'cotizacioneliminar' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
    <button rel="detalles" class="btn btn-success btn-sm">Detalle</a>
      <button rel="detalles" class="btn btn-warning btn-sm">Imprimir</a>
  </td>
</tr> 
{% endfor %}

{% endblock %}
